@import "tailwindcss";
@import "@nuxt/ui";

:root {
    /* Colors */
    --clr-black: #0F1F2E;
    --clr-black-20: #19344d;
    --clr-white: #FFF;
    --clr-ghost: #F4F4F8;

    --clr-brown: #9B7866;
    --clr-wood: #7E5539;
    --clr-wood: #372316;
    --clr-chair: #EAA643;
    --clr-green: #002A32;
    --clr-pink: #F40076;

    --clr-bg-footer: #99215b; 

    /* Font Family */
    --font-sans: 'Tenor Sans', sans-serif;
    --font-serif: 'Playfair Serif', serif;

    /* Common */
}

body {
    background-color: var(--clr-ghost);
    color: var(--clr-white);
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

@media (min-width: 475px) {
    /* Mobile */
}

@media (min-width: 640px) {
    /* Mobile large */
}

@media (min-width: 768px) {
    /* Tablette */
}

@media (min-width: 1024px) {
    /* Desktop */
}

@media (min-width: 1280px) {
    /* Desktop large */
}

@media (min-width: 1536px) {
    /* Desktop xl */
}